<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="main-button">Текст</button>

<span id="test-text">Дефолтный текст</span>
<span id="test-text2">Дефолтный текст2</span>

</body>

<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script type="application/javascript">
    Telegram.WebApp.ready()
    document.getElementById('test-text').innerHTML = 'я загрузился'
    document.getElementById('test-text2').innerHTML = Telegram.WebApp.initData
    Telegram.WebApp.sendData(new Date().toString());

</script>
</html>