<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <span id="init-text">Инициализация</span>
</div>
<div>
    <span id="callback">Колбэк</span>
</div>

</body>

<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script type="application/javascript">
    const ZaimApp = {
        initData: Telegram.WebApp.initData || '',
        initDataUnsafe: Telegram.WebApp.initDataUnsafe || {},
        MainButton: Telegram.WebApp.MainButton,

        init(options) {
            document.body.style.visibility = '';
            Telegram.WebApp.ready();
            Telegram.WebApp.MainButton.setParams({
                text: 'Закрыть сайт',
                is_visible: true
            }).onClick(ZaimApp.close);

            document.getElementById('init-text').innerHTML = this.initData || 'Открыто в браузере'

            this.collectStat(function (result) {
                document.getElementById('callback').innerHTML = result
            })
        },
        close() {
            Telegram.WebApp.close();
        },

        collectStat(onCallback) {
            const authData = this.initData || '';
            fetch('/api/', {
                method: 'POST',
                body: {
                    _auth: authData,
                },
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function (response) {
                return response.json();
            }).then(function (result) {
                onCallback && onCallback(result);
            }).catch(function (error) {
                onCallback && onCallback({error: 'Server error'});
            });
        }
    };

    ZaimApp.init();

</script>
</html>